.font-google {
    font-family: 'Amatic SC';
    font-size: 100px !important;
}

.font-google2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px !important;
    color: rgb(8, 15, 34);
}

body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(10, 165, 165);
};

.fontt {
    font-family: 'Amatic SC';
};
